<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<form method="post" action="name_choice">
    <input type="text"  name="fname">
    <input type= "text" name= "fmovie">
    <br>
    <br>
    <input type="submit">
</form>
</center>
<script>
	window.onload=getOrderDate('date');
</script>